#benefits_container{
    position: relative;
    background-color:#b7d5d4;
    padding: 5%;
    
}

#benefits_container h2{
    font-weight: 700;
    font-size: 50px;
line-height: 120%;
text-align: center;
letter-spacing: -0.02em;

color: #F6F5AE;
}

#benefits_container .scribble{
    position: absolute;
    top: -5%;
    right: 20%;
}

#benefits_container >p{
    font-style: normal;
font-weight: 500;
font-size: 15.5281px;
line-height: 160%;
text-align: center;
color: #4D4D4D;
}

#benefits_container .benefits_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
}

#benefits_container .benefits_list .benefit{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#benefits_container .benefits_list .benefit .benefit_img{
    height: 40px;
}

#benefits_container .benefits_list .benefit .benefit_header{
    font-style: normal;
font-weight: 700;
line-height: 140%;
text-align: center;
letter-spacing: -0.02em;
color: #000000;
}

#benefits_container .benefits_list .benefit .benefit_details{
    font-style: normal;
font-weight: 500;
line-height: 160%;
text-align: center;
color: #000000;
}

#benefits_container button{
    padding:2%;
    color: #FFFFFF;
    background-color: #CF9893;
    font-weight: 700;
border: 1px solid #CF9893;
box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 6px;
margin-top: 5%;
margin-bottom: 5%;
margin-left: 45%;
}


#benefits_container .spiral{
        position: absolute;
    bottom: -7%;
    right: 47.5%;
    z-index: 10;
}